{{-- PARAMETERS:		 [] = optionnel
	[classList]
	[style]
--}}

<div>
	<button type="submit"
		@if(classList)
			class="{{ classList }}"
		@endif
		@if(style)
			class="{{ style }}"
		@endif
	>
		@!yield($slots.main())
	</button>
</div>
