@layout('layouts/app')

@section('content')

	<div class="container m-auto">

		<div class="articles">
			<div class="article">
				<h2 class="title">Pour commencer connectez vous avec 42</h2>
				<div class="content font-s-20">
				</div>
				<a href="/login" class="article-btn color-accent-1 u-animation-1 font-s-20"><i class="fas fa-arrow-right"></i> Se connecter</a>
			</div>
		</div>
	</div>

@endsection
