<h1>Nouvelle video à valider</h1>

<h2>Details de la video :</h2>
<h3>Titre: {{ video.title }}</h3>
<a href="{{ video.getUrl() }}">Lien vers la video</a>

<a href="{{ url }}/videos/{{ video.id }}">
	Aller valider la video
</a>
